# Directories
.vs/
bin/
bin-int/
obj/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude binaries
!vendor/bin

# Exclude build files
Makefile
RayTracer.make

# Vscode stuff
.vscode

# Imgui ini
imgui.ini

# Cmake build assets
build/